<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		
			<link rel="stylesheet" href="stylesheets/css/skel.css" />
			<link rel="stylesheet" href="stylesheets/css/style.css" />
			<link rel="stylesheet" href="stylesheets/css/style-xlarge.css" />
	
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script rel="stylesheet" src="stylesheets/js/jquery.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/jquery.dropotron.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/jquery.scrollgress.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/jquery.scrolly.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/jquery.slidertron.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/skel.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/skel-layers.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/init.js"></script>
		
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		
		<!--aggiunte di database.js-->
		
	

	</head>
	
	<body class="landing">

		<!-- Header -->
			<!--funzione di prova per generare il dottore-->
			
			<!--fine funzine di prova-->
	

			<header id="header" class="alt skel-layers-fixed">
					<h1 >
						<a href="/">
						<input type="image" src="stylesheets/images/tooth.png" width="35" height="35">
						iDentistCare
						</a>
					</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/chisiamo">Chi siamo</a></li>
						<li><a href="/dovesiamo">Dove siamo</a></li>
						<li><a href="/contatti">Contatti</a></li>
						<li>
								<a href="/login" class="icon fa-angle-down">Login</a>
								<ul>
									<li><a href="/register">Registrati</a></li>
								</ul>
							</li>
					</ul>
				</nav>


			</header>

			
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2></h2>
					<p style="font-weight:bold; font-size: 250%"> Benvenuto nel nostro studio! Vienici a trovare!</p>
					<ul class="actions">
						<li><a href="/login" class="button big scrolly">Prenota una visita!</a></li>
					</ul>
				</div>
			</section>
		
		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Perchè è importante essere un dentista TECNOLOGICO?</h2>
						<p>Il nostro studio bla bla bla<br />
						<br />
						</p>
					</header>
					<div class="slider">
						<span class="nav-previous"></span>
						<div class="viewer">
							<div class="reel">
								<div class="slide">
									<img src="stylesheets/images/slide01.jpg" alt="" />
								</div>
								<div class="slide">
									<img src="stylesheets/images/slide02.jpg" alt="" />
								</div>
								<div class="slide">
									<img src="stylesheetss/images/slide03.jpg" alt="" />
								</div>
							</div>
						</div>
						<span class="nav-next"></span>
					</div>
				</div>
			</section>





			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/contatti">Contatti</a></li>
				</ul>
				<span class="copyright">
					LTW Project: Riccardo Caprari & Francesco Douglas Scotti di Vigoleno
				</span>
			</footer>
			



	</body>
</html>