<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		
		<!--JS nostri per controllo della form-->
        <script type="text/javascript" src="js/database.js"></script>

        <script type="text/javascript" lang="javascript" src="js/database.js"></script>
		
	
	
	</head>
	<body class="landing">
		<script type="text/javascript"> 
			//In caso di utente loggato lo reindirizza
			updatePage(); 
		</script>
		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1 >
					<a href="index.html">
					<input type="image" src="images/tooth.png" width="35" height="35">
					iDentistCare
					</a>
				</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="chisiamo.xml">Chi siamo</a></li>
						<li><a href="dovesiamo.html">Dove siamo</a></li>
						<li><a href="contatti.html">Contatti</a></li>
						<li>
								<a href="login.html" class="icon fa-angle-down">Login</a>
								<ul>
									<li><a href="register.html">Registrati</a></li>
								</ul>
							</li>
					</ul>
				</nav>
			</header>

		
		<!-- Main -->
        <section id="main" class="wrapper style1">
            <header class="major">
				<h2>Autenticati per prenotare una visita</h2>
				<h2>o controllare la tua cartella clinica!</h2>
                <ul class="actions">
                    <li><a href="register.html" class="button big scrolly">Non sei registrato?</a></li>
                </ul>
            </header>
            <div class="container">
                    
                <!-- Content -->
                    <section id="content" >
							
						<h3>Login</h3>
						
						<section>
                                <form method="POST"  action="php/aut.php" name="form" onsubmit="return setLogged();">
										<div class="row uniform">
                                        
												<div class="6u 12u(3)">
													<input type="email" name="email" value="" placeholder="Email"  required/>
												</div>
		
												<div class="6u 12u(3)">
														<input type="password" name="password" value="" placeholder="Password" required/>
												</div>
											</div>

											<div class="row uniform">
													<div class="6u 12u(3)">
														<input type="checkbox" id="rememberMe" name="rememberMe">
														<label for="rememberMe">Ricordami</label>
													</div>
										</div>

										

                                    <div class="row uniform">
                                        <div class="6u 12u(1)">
                                            <ul class="actions">
                                                <li><input type="submit" value="Invia" /></li>
                                                <li><input type="reset" value="Resetta campi" class="alt" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </section>



					</header>
				</div>
			</section>





                    </section>
                            
            </div>
        </section>





			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="contatti.html">Contatti</a></li>
				</ul>
				<span class="copyright">
					LTW Project: Riccardo Caprari & Francesco Douglas Scotti di Vigoleno
				</span>
			</footer>


	</body>
</html>