<!DOCTYPE HTML>

<html>
	<head>
        <title> </title>
        
			<link rel="stylesheet" href="stylesheets/css/skel.css" />
			<link rel="stylesheet" href="stylesheets/css/style.css" />
			<link rel="stylesheet" href="stylesheets/css/style-xlarge.css" />
	
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script rel="stylesheet" src="stylesheets/js/jquery.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/jquery.dropotron.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/jquery.scrollgress.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/jquery.scrolly.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/jquery.slidertron.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/skel.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/skel-layers.min.js"></script>
		<script rel="stylesheet" src="stylesheets/js/init.js"></script>
        
		
			
        


        <script type="text/javascript">
            function valida_form_register(){
                       

                if (document.registerForm.password.value!=document.registerForm.passwordX2.value){
                    window.alert("Le password dfferiscono, riprovare.");
                    return false;
                }
                else return true;
                
            }
            </script>


		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">
		<!-- Header -->
            <header id="header" class="alt skel-layers-fixed">
                <h1 >
                    <a href="/">
                    <input type="image" src="stylesheets/images/tooth.png" width="35" height="35">
                    iDentistCare
                    </a>
                </h1>
                <nav id="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/chisiamo">Chi siamo</a></li>
                        <li><a href="/dovesiamo">Dove siamo</a></li>
                        <li><a href="/contatti">Contatti</a></li>
                        <li>
                                <a href="/login" class="icon fa-angle-down">Login</a>
                                <ul>
                                    <li><a href="/register">Registrati</a></li>
                                </ul>
                            </li>
                    </ul>
                </nav>
            </header>



			
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Registrati al nostro studio!</h2>
				</div>
			</section>
		
		

        <!--- Inserisci qui il form --->
			<section id="format" class="wrapper style1">
				<div class="container">
					<header class="major">
                        <h2>REGISTRATI QUI</h2>
                        <section>
                                <form method="POST" action="/register" name="registerForm" onsubmit="return valida_form_register();">
                                    <div class="row uniform">
                                        <div class="6u 12u(3)">
                                            <input type="text" name="name"  value="" placeholder="Nome" required/>
                                        </div>
                                        <div class="6u 12u(3)">  
                                            <input type="text" name="surname" value="" placeholder="Cognome" required />
                                        </div>
                                        <div class="6u 12u(3)">
                                            <input type="email" name="email"  value="" placeholder="Email"  required/>
                                        </div>

                                        <div class="3u 12u(3)">
                                                <input type="password" name="password" value="" placeholder="Password" required/>
                                         </div>

                                         <div class="3u 12u(3)   ">
                                                <input type="password" name="passwordX2" value="" placeholder="Reinserisci Password" required/>
                                         </div>
                                               

                                        <div class="6u 12u(3)">
                                            <input type="number" name="phoneNumber" value="" placeholder="Numero di telefono" required/>
                                        </div>
                                        <div class="6u 12u(3)">
                                                <input type="text" name="address" value="" placeholder="Indirizzo" required/>
                                            </div>
                                        <div class="4u 12u(2)">
                                             <input type="text" name="CF" value="" placeholder="Codice Fiscale" required/>
                                        </div>
                                        
                                        <div class="4u 12u(2)   ">
                                                <input placeholder="Data di nascita" type="text" name="birthday" value=""  onfocus="(this.type='date')" required/>
                                                
                                            </div>
                                        <div class="4u 12u(2)   ">
                                                
                                               <input type="text" name="birthcountry" value="" placeholder="Luogo di nascita" required/>
                                        </div>
                                        
                                        
    
        
    

                                    </div>
                                    <div class="row uniform">
                                        <div class="12u">
                                            <div class="select-wrapper">
                                                <select name="category"  required>
                                                    <option value="">- Convenzione -</option>
                                                    <option value="1">Studente</option>
                                                    <option value="2">Assicurazione</option>
                                                    <option value="3">Unisalute</option>
                                                    <option value="4">Non dichiaro</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row uniform">
                                                                          
                                        <div class="4u 12u(1)">
                                            <input type="radio" id="MALE" name="MALE" >
                                            <label for="MALE">MALE</label>

                                            <input type="radio" id="FEMALE" name="FEMALE">
                                            <label for="FEMALE">FEMALE</label>
                                        </div>
                                        
                                       
                                    </div>
                                    <div class="row uniform">
                                        <div class="6u 12u(1)">
                                            <input type="checkbox"id="copy" name="copy">
                                            <label for="copy">Mandami una email di questa registrazione</label>
                                        </div>
                                    </div>
                                     <div class="row uniform">
                                                <div class="6u 12u(1)">
                                                    <input type="checkbox" id="privacyCondition" name="privacyCondition" required>
                                                    <label for="privacyCondition">Accetto termini e condizioni</label>
                                                </div>
                                    </div>

                                    <div class="row uniform">
                                        <div class="12u">
                                            <textarea name="message"  placeholder="Inserisci qui le tue comunicazioni" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="row uniform">
                                        <div class="12u">
                                            <ul class="actions">
                                                <li><input type="submit" value="Invia" /></li>
                                                <li><input type="reset" value="Resetta campi" class="alt" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </section>



					</header>
				</div>
			</section>


			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/contatti">Contatti</a></li>
				</ul>
				<span class="copyright">
                    LTW Project: Riccardo Caprari & Francesco Douglas Scotti di Vigoleno
				</span>
			</footer>

	</body>
</html>
