<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Node App</title>
</head>

<body>
  <h1>Node-Mongo test</h1>
  <h4>Utenti registrati:</h4>
  <ul> 
    <!--- Example with a simple for in ejs
      <% for(var i =0; i<=5; i++) { %>
      <li >Item n. <%= i %></li>
      <% }; %>
    -->
    
    <% utenti.forEach(function(utente) { %>
      <li>
        <%= utente.email +' - '+ utente.password +' - '+ utente.nome+' - '+utente.cognome+' - '+utente.data %>
      </li>
      <% }); %>
  
    </ul>

    <a href="/signup" >Non sei registrato? Clicca qui!</a>

    <a href="/auth/facebook" >REGISTRATI CON FACEBOOK!</a>

    <form method="post" action="/login">
      <label for="username">Name</label>
      <input type="text" name="username">
  
      <label for="password">Password</label>
      <input type="password" name="password">
  
  
      <input type="submit" value="submit">
    </form>



  </body>

</html>