<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<script src="stylesheets/js/jquery.min.js"></script>
		<script src="stylesheets/js/jquery.dropotron.min.js"></script>
		<script src="stylesheets/js/jquery.scrollgress.min.js"></script>
		<script src="stylesheets/js/jquery.scrolly.min.js"></script>
		<script src="stylesheets/js/jquery.slidertron.min.js"></script>
		<script src="stylesheets/js/skel.min.js"></script>
		<script src="stylesheets/js/skel-layers.min.js"></script>
		<script src="stylesheets/js/init.js"></script>

		<link rel="stylesheet" href="stylesheets/css/skel.css" />
		<link rel="stylesheet" href="stylesheets/css/style.css" />
		<link rel="stylesheet" href="stylesheets/css/style-xlarge.css" />
		
		<!-- funzione che valida la form-->
		<script language="JavaScript">
				
			
				
			</script>


	</head>
	

	<body class="landing">
		<script type="text/javascript">updateAfterLoginPage();</script>
		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
					<h1 >
						<a href="/index.html">
						<input type="image" src="stylesheets/images/tooth.png" width="35" height="35">
						iDentistCare
						</a>
					</h1>
				<nav id="nav">
					<ul>
						<li><a id="paginahome" href="/">Home</a></li>
						<li><a href="/chisiamo">Chi siamo</a></li>
						<li><a href="/dovesiamo">Dove siamo</a></li>
						<li><a href="/contatti">Contatti</a></li>
						<li>
								<a id="paginacorrente" href="/" class="icon fa-angle-down"> Benvenuto, <span id="log"><%= user %></span> </a>
								<ul>
                                    <li><a href="/prenota">Prenota una visita</a></li>
                                    <li><a href="/gentoken">Genera token</a></li>
									<li><a href="/cartellaclinica">La mia cartella</a></li>
									<li><a href="/medchat">Parla con un dottore</a></li>
									<li><a href="/impostazioni">Impostazioni</a></li>
									<li><a href="/logout" >Logout</a></li>
								</ul>
							</li>
					</ul>
				</nav>	
            </header>
            <br>
            <br>
            <br>
            <section id="format" class="wrapper style1">
            <div class="container">

            <p>Premi il pulsante per generare il tuo token!</p>

            <form method="POST"  action="/gentoken" name="form">
                <div class="row uniform">
                    <div class="6u 12u(1)">
                        <input type="submit" value="Genera Token" />
                    </div>
                </div>
            </form>

            <p>Il token è:</p>
            <ul>
            <li><%= token %></li> 
            </ul>
            </div>
            </section>

		<!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Da decidere</a></li>
                <li><a href="/contatti">Contatti</a></li>
            </ul>
            <span class="copyright">
                LTW Project: Riccardo Caprari & Francesco Douglas
            </span>
        </footer>

</body>
</html>